{% extends "base.html" %}
{% load static %}
{% block content %}
{% load i18n %}

<!--Start breadcrumb area paroller-->     
<section class="hero hero-slider-wrapper business-hero-slider">
    <div class="hero-slider">
        <div class="slide">
            <img src="{% static 'assets/rasm/liderlar/indexback2.jpg'%}" alt class="slider-bg">

           
            <div class="container">
                <!-- <div class="row">
                    <h1 style="text-align: center;">Biz sizga Salqin Havo taqdim etamiz</h1>
                </div> -->
            </div>
        </div>

        <div class="slide">
            <img src="{% static 'bubly.jpg'%}" alt class="slider-bg">


            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End breadcrumb area-->

<!--Start About Style2 Area-->
<section class="about-style2-area">
    <div class="shape-round-box2 wow slideInLeft" data-wow-delay="500ms" data-wow-duration="7500ms">
        <img src="{% static 'assets/images/shape/shape-round-11.png'%}" alt="">
    </div>
    <div class="container">
        <div class="row text-right-rtl">

            <div class="col-xl-6">
                <div class="about-style2__image-box">
                    <div class="inner">
                        <img src="{{about.rasm.url}}" alt="">
                        <img src="{{about.rasm1.url}}" alt="">

                    </div>
                    
                    <div class="content-box paroller wow zoomIn" data-wow-delay="500ms" data-wow-duration="2500ms">
                        <span class="flaticon-troph"></span>
                        <h3>{{about.sarlavha1}}</h3>
                        
                    </div>
                    <div class="icon-holder paroller">
                        <span class="fa fa-trophy" aria-hidden="true" style="margin-left: 25px;"></span>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-style1__content about-style1__content--style2">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>{% trans "Aklis Haqida"%}</p>
                        </div>
                        <h2>{{about.sarlavha}}.</h2>
                    </div>
                    <div class="inner-content">
                        <p>{{about.text}}.</p>
                        <div class="bottom-box">
                            <div class="btns-box">
                                <a class="btn-one" href="/contact/">
                                    <span class="txt">{% trans "Bog'lanish"%}</span>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End About Style2 Area-->


<!--Start Choose Style1 Area-->
<section class="choose-style1-area">
    <div class="thm-shape-bg1" style="background-image: url({% static 'assets/images/shape/thm-shape-bg1.jpg'%});"></div>
    <div class="shape1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="5000">
        <img class="float-bob" src="{% static 'house.jpg'%}" alt="">
    </div>
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-6 col-lg-6">
                <div class="choose-style1__title">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>{% trans "Nima Uchun"%}</p>
                        </div>
                        <h2>{% trans "Ko'plab Insonlar"%} <br> {% trans "Bizni Tanlshmoqda"%} ?</h2>
                    </div>
                    <div class="inner-text">
                        <p>{% trans "Bizga Qo'ng'iroq qiling yoki Tashrif Buyuring"%} .</p>
                        <p>{% trans "Biz 13 turdagi kukun mahsulotlari ishlab chiqarishga ixtisoslashganmiz, jumladan:"%}</p>
                            <li> - {% trans "Monoksid"%}</li>
                            <li> - {% trans "Tripolifosfat natriy"%}</li>
                            <li> - {% trans "Fermentlar"%}</li>
                            <li> - {% trans "Aromatik hidlar"%}</li>
                            
                            <h4>{% trans "Asosiy xususiyatlari va foydalari"%}</h4>
                            
                            <li>1. {% trans "Rangni himoya qilish: Turli xil rang-barang kiyimlarni ranglarning aralashuvidan qo'rqmasdan yuvish. Mahsulotimiz kiyimlaringizning yorqinligini saqlaydi"%}.</li>
                            <li>2. {% trans "Tuklarni olib tashlash: Kiyimlaringizdagi tuklarni samarali olib tashlab, ularni yangi ko'rinishda saqlaydi"%}.</li>
                            <li>3. {% trans "Rangni tiklash: Agar kiyimlaringiz rangi yo'qolgan bo'lsa, mahsulotimiz ularning asl rangini tiklashga yordam beradi"%}.</li>
                            <li>4. {% trans "Ko'p maqsadli foydalanish: Gilamlarni yuvishda ham qo'llaniladi, mahsulotimiz gilamlar tolalarini tiklashga yordam beradi"%}.</li>
                            <li>5. {% trans "Qulay qadoqlash: Mahsulotimiz zamok bilan yopilgan bo'lib, foydalanishda qulay va osondir"%}.</li>
                        <div class="btns-box">
                            <a class="btn-one style2" href="/contact/">
                                <span class="txt">{% trans "Aloqa"%}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6">
                <div class="choose-style__content">
                    <div class="shape2 wow slideInRight" data-wow-delay="100ms" data-wow-duration="3500ms">
                        <img src="{% static 'assets/images/shape/hand-3.png'%}" alt="">
                    </div>
                    <ul>
                        {% for i in name %}
                        <li class="wow slideInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="inner">
                                <div class="icon">
                                    <img src="{{i.rasm.url}}" alt="">
                                </div>
                                <div class="text">
                                    <h3>{{i.title}}</h3>
                                    <p>1-{{i.li1}}</p>
                                    <p>2-{{i.li2}}.</p>
                                    <p>3-{{i.li3}}.</p>

                                </div>
                            </div>
                        </li>
                       {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Choose Style1 Area-->

<!--Start Team Style1 Area-->
<section class="team-style1-area">
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-12">
                <div class="team-style1__top-title">
                    <div class="sec-title">
                        <div class="sub-title">
                            <p>{% trans "Jamoamiz Azolari"%}</p>
                        </div>
                        <h2>{% trans "Bizning Tajribali Va"%} <br>{% trans "Kreativ Jamoamiz Azolari"%} .</h2>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <!--Start Single Team Style1-->
            {% for i in xodim %}
            <div class="col-xl-4 col-lg-4">
                <div class="single-team-style1 wow fadeInLeft animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                    <div class="img-holder">
                        <div class="inner">
                            <img src="{% static 'assets/images/team/team-v1-1.jpg'%}" alt=""/>
                            <div class="overlay-bg"></div>
                        </div>
                    </div>
                    <div class="title-holder">
                        <h3><a href="#">{{i.ismfamilya}}</a></h3>
                        <p>{{i.kasbi}}</p>
                        <div class="social-link-box">
                            <ul class="team-social-link">
                                <li>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--End Single Team Style1-->

            <!--Start Single Team Style1-->
           
            <!--End Single Team Style1-->
          
        </div>
    </div>
</section>
<!--End Team Style1 Area-->

{% endblock content%}