
{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start Error Page Area-->
<section class="error-page-area full-height">
    <div class="error-page-area-bg" style="background-image: url({% static 'assets/images/parallax-background/error-page-area-bg.jpg'%});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="error-content text-center">
                    <div class="title wow slideInDown" data-wow-delay="200ms" data-wow-duration="1500ms">Sahifa Topilmadi</div>
                    <div class="big-title wow slideInRight" data-wow-delay="100ms" data-wow-duration="1500ms">404</div>
                    <p class="wow slideInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">Kechirasiz Bu sahifa topilmadi <br> Manzilni Tekshirib Ko'ring.</p>
                    <div class="btns-box wow slideInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                        <a class="btn-one" href="/">
                            <span class="txt">Asosiy</span>
                        </a>
                    </div>
                </div>    
            </div>
        </div>       
    </div>
</section>   
<!--End Error Page Area-->   



{% endblock content %}