{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Start breadcrumb area paroller-->     
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title">
                       <h2>Project Details</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Project Details</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->


<!--Start Project Details Area-->
<section class="project-details-area">
    <div class="shape1 wow slideInRight" data-wow-delay="400ms" data-wow-duration="6500ms">
        <img src="assets/images/shape/shape-round-5.png" alt="">
    </div>
    <div class="container">
        <div class="row text-right-rtl">
            <div class="col-xl-8 col-lg-7">
                <div class="project-details-content">
                    <div class="top-title">
                        <h2>Modern Residential Appertment</h2>
                        <span>Overview</span>
                    </div>
                    <div class="project-details-text1">
                        <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid unt labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore  fugiat nulla paria tur. Excepteur sint occaec at cupidatat non proident sunt in culpa qui officia.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arch itecto beatae vitae dicta sunt explicabo. </p>
                    </div>
                    <div class="project-details-main-image">
                        <img src="assets/images/portfolio/project-details_img1.jpg" alt="">
                    </div>


                    <div class="project-features-box">
                        <div class="title">
                            <h2>Amenities</h2>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-air-conditioner"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Air Conditioning</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-swimming-pool"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Swimming Pool</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-security-camera"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Surveillance System</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xl-4">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-fire-extinguisher"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Firefighting System</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-muscle"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Fitness Center</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-policeman"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>24x7 Security</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xl-4">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-field"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>Landscape Garden</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-city-hall"></span>
                                        </div>
                                        <div class="inner-title">
                                            <h5>AC Community Hall</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

       
                    <div class="project-details-plans-box tabs-box">
                        <div class="title">
                            <h2>Plans</h2>
                        </div>
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#master-plan" class="tab-btn active-btn"><span>Master Plan</span></li>
                            <li data-tab="#basic-plan" class="tab-btn"><span>Basic Plan</span></li>
                        </ul>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="master-plan">
                                <div class="plan-box-content">
                                    <img src="assets/images/resources/plan-1.png" alt="">    
                                </div> 
                            </div>
                            <div class="tab" id="basic-plan">
                                <div class="plan-box-content">
                                    <img src="assets/images/resources/plan-2.png" alt="">    
                                </div>  
                            </div>

                        </div>      
                    </div>

                    <div class="gallerly-box-content">
                        <div class="title">
                            <h2>Gallery</h2>
                        </div>
                        <div class="row">
                            <!--Start Single Gallery Box-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="assets/images/portfolio/gallery-1.jpg" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/portfolio/gallery-1.jpg">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Gallery Box-->
                            <!--Start Single Gallery Box-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="assets/images/portfolio/gallery-2.jpg" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/portfolio/gallery-2.jpg">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Gallery Box-->
                            <!--Start Single Gallery Box-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="assets/images/portfolio/gallery-3.jpg" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/portfolio/gallery-3.jpg">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Gallery Box-->
                            <!--Start Single Gallery Box-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="assets/images/portfolio/gallery-4.jpg" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/portfolio/gallery-4.jpg">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Gallery Box-->
                            <!--Start Single Gallery Box-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="assets/images/portfolio/gallery-5.jpg" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/portfolio/gallery-5.jpg">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Gallery Box-->
                            <!--Start Single Gallery Box-->
                            <div class="col-xl-4 col-lg-6 col-md-4">
                                <div class="single-gallery-box">
                                    <img src="assets/images/portfolio/gallery-6.jpg" alt="">
                                    <div class="zoom-button">
                                        <a class="lightbox-image" data-fancybox="gallery" href="assets/images/portfolio/gallery-6.jpg">
                                            <i class="flaticon-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--End Single Gallery Box-->

                        </div>
                    </div>

                    <div class="project-details-location-box">
                        <div class="title">
                            <h2>Locations</h2>
                            <p>Flat 20, Reynolds Neck, North Helenaville, FV77 8WS</p>
                        </div>
                        <div class="project-details-page-map-outer">
                            <!--Map Canvas-->
                            <div class="map-canvas"
                                data-zoom="12"
                                data-lat="-37.817085"
                                data-lng="144.955631"
                                data-type="roadmap"
                                data-hue="#ffc400"
                                data-title="Envato"
                                data-icon-path="assets/images/icon/map-marker.png"
                                data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-4 col-lg-5">
                <div class="project-details-sidebar">
                    <div class="project-info-box">
                        <div class="title">
                            <h3>Information</h3>
                        </div>
                        <ul>
                            <li><span>Type:</span> Apartment</li>
                            <li><span>Status:</span> Under Construction</li>
                            <li><span>Area:</span> 1200 - 1800 Sq ft</li>
                            <li><span>Type:</span> Apartment</li>
                            <li><span>Status:</span> Under Construction</li>
                            <li><span>Area:</span> 1200 - 1800 Sq ft</li>
                            <li><span>Status:</span> Under Construction</li>
                            <li><span>Area:</span> 1200 - 1800 Sq ft</li>
                        </ul>
                    </div>
                    <div class="project-details-form">
                        <div class="title">
                            <h3>Information</h3>
                        </div>
                        <form id="project-details-form" name="project-details_form" class="default-form2" action="#" method="post">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="text" name="form_name" value="" placeholder="Name" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box"> 
                                        <input type="email" name="form_email" value="" placeholder="Email" required="">
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <input type="text" name="form_phone" value="" placeholder="Phone">
                                    </div>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="input-box">
                                        <textarea name="form_message" placeholder="Enter your message..." required=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="button-box">
                                        <button class="btn-one" type="submit">
                                            <span class="txt">Submit Now</span>
                                        </button> 
                                    </div> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Project Details Area-->

{% endblock content %}