<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Aklis</title>
</head>
<body>
    <form action="/send/" method="POST">
        {% csrf_token %}
        <input type="text" name="ismfamilya">
        <input type="text" name="pochta">
        <input type="text" name="telfon">
        <input type="text" name="murojaat_sababi">
        <input type="text" name="text">
        <input type="date" name="date">
    </form>
</body>
</html>